
hr{
    
    border-color: #E5E6EB !important;    
    border-style: solid;
    
}


.rotated{
    transform: rotate(45deg);
}

.material-icons{
    color: #9e9e9e ;
    font-size: 17px;
    margin-right: 1%;
    vertical-align: middle;

}


.contenedor{
    padding: 50px 0 50px 50px;
    padding-top: 50px;
    padding-left: 50;   
    
    
}


/* Contenedor del modal  */
mat-dialog-content{
    margin-bottom: 10px;
}


/* estilos para el header de la tarjeta */



.info{
    color: #9e9e9e !important;
    font-size: 14px;
    margin-right: 2%;
    vertical-align: middle;
    
}

.cuerpo{

    margin-top: 10px;
}

.form{
    padding: 10px 0 10px 0;
    
}



.label label{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.label input{
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 1px;
    color: #60646d;
    
}

.label input::placeholder{
    color: #b4b4b4;
}

.label input:focus{
    background-color: #F2F3F5;
    
}


.label input:hover{
    background-color: #F2F3F5;
    cursor: pointer;
}

.label select:hover{
    background-color: #F2F3F5;
    cursor: pointer;
    height: 28px;
}


.tabla-actividades{
    
    margin-bottom: 20px;
    
}

.titulo-tabla{
    border: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #E5E6EB;
    display: flex;
    margin-bottom: 20px;
    width: 100%;

    
    
}
.filtro{
    float: right;
}
.icons-back{
    padding: 0;
    margin-left: -5vh;
    margin-top: -5vh;
}

.titulo-tabla div:first-child{
    border-bottom: solid;
    color: #60646d !important;
    display: inline;
    margin-right: 60%;
    
    width: 20%;
}

.titulo-tabla div{
    padding-top: 15px;
    padding-bottom: -10px;
    

}

.titulo-tabla div:last-child{
    display: inline-block;
    width: 20%;
}

.titulo-tabla div:last-child input{
    outline: none;
    border: none;
    color: #60646d;
}


.titulo-tabla div:last-child input::placeholder{
    color: #b4b4b4;
}

table{
    border:1px solid #9e9e9e;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    text-align: left;
    width: 100%;

}

th{
    padding: 10px;
    color: #9e9e9e !important;
    font-weight: normal;
}

td {
    
    border:1px solid #E5E6EB;
    border-collapse: collapse;
    border-right: none;
    color: #60646d !important;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 7px;

}

td:first-child{
    border-left: none;
    width: 40%;
   
}

td:first-child:hover .abrir-modal{
    display: inline;
}

.abrir-modal{
    
    padding: 4px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 9px;
    letter-spacing: 1px;
    margin-left: 30%;
    cursor: pointer;
    display: none ; 

}

.abrir-modal:hover{
    background-color: #EAF7FF;
    border-color:#0678bd;
    color: #0678bd !important;  
    
}


/*editar*/
td:first-child:hover .abrir-modal1{
    display: inline;
}

.abrir-modal1{
    
    padding: 4px;
    border-radius: 5px;
    font-size: 9px;
    letter-spacing: 1px;
    margin-left: 30%;
    cursor: pointer;
    display: none ; 

}

.abrir-modal1:hover{
    background-color: #EAF7FF;
    border-color:#0678bd;
    color: #0678bd !important;  
    
}


   

    
 
/* Grabar un avance */

.save-avance{
    border: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #E5E6EB;
    background-color: white;
    display: flex;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 35px;
    width: 100%;

}


.save-avance div{
    /* border-bottom: solid;
    color: #60646d !important; */
    color: #9e9e9e;
    display: inline;
    margin-right: 60%;
    text-align: left;
    width: 20%;
    padding-top: 5px;
}


.save-avance:hover{
    background-color: #EAF7FF;
    color: #0678bd !important;
    cursor: pointer;  
    
}

.save-avance:hover div p {
    margin: 0px;
}

.save-avance:hover div p {
    color: #0678bd !important;  
}

.save-avance:hover div p span {
    color: #0678bd !important;  
}


.titles{
    display: flex;
    margin-left: -8px;
    width: 100%;
    margin-bottom:1vh;
}

mat-card{
    height: 70px;
    min-height: 70px;
    width: 100%;
    
}


mat-card-title{
    font-size: calc(2em + 1vw);
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 1vh;
    /* color: #476D84; */
    width: 70%;
    display: contents;
    margin: 1px;
}

.mat-card{
    box-shadow: none !important;
}

.btn{
  
    margin-right: 15px;
    line-height: 0;
    padding: 1vh;
    cursor: pointer;

    
}

.btn-primary{
    background-color:#476D84 ;
    color: white;
    font-size: calc(10px + 0.4vw);
    padding: 1px;
}

.btn-create{

    background-color:#F8F6E5 ;
    border-color: #bfa601;
    border-style: solid;
    border-width: 2px;
    color: #bfa601;
}




.material-icons{
    color: #9e9e9e ;
    font-size: 17px;
    margin-right: 1%;
    vertical-align: middle;

}

.info-programa{
    color: #9e9e9e !important;
    font-size: 16px;
    margin-right: 2%;
    vertical-align: middle;
    
}
