:root {
    --gray-1 : #f2f3f5;
    --ligth-gray: #e5e6eb;
    --blue :#0678bd;
    --ligth-blue: #eaf7ff;
    --mat-chip-select:#F8F6E5;
    --icon-pro:#BFA601;
    --border-blue: #0678bd;
    --blue2 :#2066b9;
    --secondary:#6c757d;
    --alert:red;
    --titulo:#476d84;
    --ligth-gray2: #edece9;
    --ligth-gray3:#d3d1cb;
    --blue1:#0678BD;
    
}