<div class="variables-title">
    <span style="flex: 90;">Confirmar</span>

    <div class="close-button">
        <mat-icon aria-label="close" (click)="dialogRef.close(false)">close</mat-icon>
    </div>

</div>
<div class="container">
    {{confirmMessage}}
</div>
<div class="opciones">
    <button  mat-button class="flat-button" color="primary" (click)="dialogRef.close(true)">Si</button>
    <span class="button-separator"></span>
    <button mat-button class="flat-button" color="Warn" (click)="dialogRef.close(false)">No</button>
</div>